<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/rabbit
        https://www.springframework.org/schema/rabbit/spring-rabbit-1.3.xsd">

    <!-- 配置连接工厂 -->
    <rabbit:connection-factory id="connectionFactory" host="localhost" port="5672" username="guest" password="guest" virtual-host="/" />
    <!--<rabbit:connection-factory id="connectionFactory" host="www.haeport.com" port="5672" username="aseadmin" password="aseadmin" virtual-host="ase"/>-->

    <!-- 配置RabbitTemplate -->
    <rabbit:template id="tianjinRabbitTemplate" connection-factory="connectionFactory"/>

    <!-- 添加队列声明 -->
    <rabbit:queue name="testQueue" durable="true"/>
    <!-- 配置消息监听器容器 -->
    <rabbit:listener-container connection-factory="connectionFactory">
        <rabbit:listener queues="testQueue" ref="messageListener" method="onMessage"/>
    </rabbit:listener-container>
    <!-- 配置消息监听器 -->
    <bean id="messageListener" class="org.zeng.test.mq.consumer.RabbitQueueListener"/>

</beans>
